@charset "utf-8";
/* remove the default font adjust in safari */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/* remove the deafult input style from iphone */
input[type="submit"],input[type="reset"],input[type="button"],input{-webkit-appearance:none; resize: none;}
/* remove link highlight  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article, 
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); }
/* display HTML5 elements as block */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
display: block;
}
/* images auto fit */
img {
max-width: 100%;
height: auto;
width:auto\9; /* ie8 */
-ms-interpolation-mode:bicubic;/*for IE pictures*/
}
/* initialization */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article, 
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{margin:0; padding:0; border:none;}

@font-face {font-family: 'iconfont';
    src: url('font/iconfont.eot'); /* IE9*/
    src: url('font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

body{font:400 14px/1.5 Arial, Helvetica, sans-serif; min-width:320px;max-width: 540px;margin: 0 auto;}
a{color:white;text-decoration:none;}
ul{list-style: none;}

header{width:100%;position:relative;height:30px;border-radius:8px;margin:1px 0;background-image: -webkit-linear-gradient(top, #657ff2,#24bef2);background-image: linear-gradient(180deg, #657ff2,#24bef2);}
header a{display: block;height: 30px;line-height:30px;position: absolute;}
header a:nth-child(1){left:10px;}
header a:nth-child(2){right:10px;}

.search-box{width:100%; height:46px;box-sizing: border-box;padding: 8px 80px 10px 9px;border-top:1px solid #b6b4b6;border-bottom: 1px solid #ccc;background-color: #f6f6f6;position: relative;min-width: 320px;max-width:540px;z-index: 999;}
.search-box div{height:24px;line-height:24px;border:1px solid #999;border-radius: 5px;background-color: #fff;position: relative;box-shadow: 0 2px 4px rgba(0, 0, 0, .2);}
.search-box input{display: block;width:90%;margin-left: 22px;height:24px;line-height:24px;border:none;}
.search-box div:before{content: '';width: 25px;height: 25px;background:url(../images/logo1.png) no-repeat -60px -280px;background-size:104px 328px;position: absolute;left:6px;top:4px;}
.search-box a{position: absolute;width: 80px;height: 46px;right:0px; bottom: 0px;color:#66bfe6;font-weight: bold;}
.search-box a:after{content: '';width:23px;height:23px;background: url(../images/logo1.png) no-repeat  -60px -195px;background-size: 104px 328px;display: block;position: absolute;left:30px;top:5px;}
.search-box a span{position: absolute;right: 5px;bottom: 0;}

/*slids*/
#slides{margin-top:4px;width:100%;min-height: :85px;max-height: 144px;}
.focus{ width:100%; height:100%;  margin:0 auto; position:relative; overflow:hidden;   }
.focus .hd{ width:100%; height:5px;  position:absolute; z-index:1; bottom:0; text-align:center;  }
.focus .hd ul{ overflow:hidden;display: flex; /*display:-moz-box; display:-webkit-box; display:box;*/ height:5px; background-color:rgba(51,51,51,0.5);   }
.focus .hd ul li{ /*-moz-box-flex:1; -webkit-box-flex:1; box-flex:1;*/ flex:1;}
.focus .hd ul .on{ background:#FF4000;  }
.focus .bd{ position:relative; z-index:0; }
.focus .bd li img{ width:100%;  /*height:150px;*/ }
.focus .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); }

/*navigation part*/
nav{width: 100%;padding: 4px;box-sizing: border-box;background-color: #fff;}
nav a{display: block;width: 100%;height: 45px;line-height: 45px;text-align: center;position: relative;}
nav .row{width:100%;margin-bottom:4px;display: flex;}
nav .row:last-child{margin-bottom:0;}
nav .col{flex:1;}

nav .row:nth-child(1) a{background-color:#26b72b; }
nav .row:nth-child(2) a{background-color:#f28f0e; }
nav .row:nth-child(3) a{background-color:#f1657c; }

nav .col:nth-child(1) a{height: 91px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
nav .col:nth-child(2){margin:0 1px;}
nav .col a+a{margin-top: 1px;}
nav .col:nth-child(3) a:first-child{border-top-right-radius: 5px;}
nav .col:nth-child(3) a:last-child{border-bottom-right-radius: 5px;}
nav .row:nth-child(3) .col:nth-child(1) a{height:45px;}
nav .row:nth-child(3) .col:nth-child(1) a:first-child{border-bottom-left-radius: 0;}
nav .row:nth-child(3) .col:nth-child(1) a:last-child{border-top-left-radius: 0;}

nav .row:nth-child(1) .col:nth-child(1) a:after{content: '';width:41px;height:33px;background: url(../images/logo1.png) no-repeat 0 -130px;background-size:104px 328px;position: absolute;left:50%;margin-left:-20px;top:40px;}
nav .row:nth-child(2) .col:nth-child(1) a:after{content: '';width:41px;height:33px;background: url(../images/logo1.png) no-repeat -53px -120px;background-size:104px 328px;position: absolute;left:50%;margin-left:-20px;top:40px;}

.destination{width:100%;margin: 4px 0;}
.destination .top{width:100%;height:30px;margin:0 8px;position: relative;}
.destination .top span{display:block;color:#3a2025;font-size: 16px;font-weight: bold;position: absolute;}
.destination .top span:nth-child(1){left:5px;}
.destination .top span:nth-child(2){right:18px;color:#fff;background-color:red;padding: 0px 5px;border-radius: 10px;}
.destination ul{width:100%;display: flex; }
.destination ul li{flex:1;margin-right:2px; position: relative;}
.destination ul li a{position: absolute;left:50%;bottom: 5px;transform:translateX(-50%);color:#fd3a51;font-weight:bold;}
.destination ul li:last-child{margin-right:0px;}
/*.destination ul li:first-child{position: relative;}*/
.destination ul li:first-child span{position:absolute;left:0;top:0;width:40px;height:20px;text-align:center;background-color:#fd3a51;color:#fff;}
.destination ul li:first-child span:before{content:'';width:0;height: 0;border-width: 20px 8px;border-style: solid;border-color:#fd3a51 transparent transparent transparent;position: absolute;right:-8px;top:0;}


.deals{width:100%;margin: 4px 0;} 
.deals .title{width:100%;height:25px;margin-left:13px;color:#3a2025;font-size: 16px;font-weight: bold;}
.deals ul{width:100%;display: flex;margin:4px 0;}
.deals ul li{flex:1;}
.deals ul li:last-child{flex:2;vertical-align: middle;}
.deals ul li+li{margin-left:2px;}


footer{width:100%;height:65px;margin: 4px 0 0;}
footer ul{width:100%;display: flex;height:50px;line-height:70px;padding: 0 20px;box-sizing: border-box;border-top:1px solid #b6b4b6;border-bottom:1px solid #b6b4b6;}
footer ul li{flex: 1;position: relative;}
footer ul li a{display:block;width:100%;text-align:center;color:black;position: relative;}
footer ul li:nth-child(1) a:after{content:'\e706';font-family:'iconfont';width:20px;height:20px ;font-size:18px;color:#999;position:absolute;top:-20px;left:50%;transform:translateX(-50%);}
footer ul li:nth-child(2) a:after{content:'\e61f';font-family:'iconfont';width:20px;height:20px ;font-size:18px;color:#999;position:absolute;top:-20px;left:50%;transform:translateX(-50%);}
footer ul li:nth-child(3) a:after{content:'\e609';font-family:'iconfont';width:20px;height:20px ;font-size:18px;color:#999;position:absolute;top:-20px;left:50%;transform:translateX(-50%);}

footer div{width:100%;text-align: center;height: 20px;line-height: 20px;}


